nav a{ color: #397523;}
.main {
  display: flex;         
  gap: 16px; 
  padding: 10px;
}            
.content {
  flex: 3;               
}
.sidebar {
  flex: 1;                
  background-color:#d31d1d65;
  padding: 5px;
  border: 2px solid #848015;
}
caption { font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color: #ab1212;  }
table { width: 100%; }
th, td {
  border: 2px solid #848015;
  text-align: center;
}

th {
  background-color: #6ba755c8;
}
tbody tr:nth-child(even) {
  background-color: #d31d1d65;
}
