body {font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif}
body {font-size: 15pt;}
body {color:darkblue;}
body {background-color:linen;}
.mesikt {color: darkmagenta; font-family:monospace;}
#title1 {color: darkmagenta;}
#title2 {color: darkmagenta;}
#copyright1 {color: gray;}
#copyright2 {color: gray;}
.question_title {color: darkgreen;}
.facts {color:darkgreen}
#projectquestions {color: darkmagenta}
#color2 {color: darkgreen}
#color3 {color: gray;}
